html,
body {
    margin:0;
}
a{
    text-decoration: none;
    color:rgb(197,140,102);
}
img{
    height:200px;
    width:auto;
    flex:0;
    margin-left: auto;
}
button{
    background: #69100F;
    color:#E39E6A;
    border:0;
    font-size: 15px;
    padding: 4px 12px 4px 12px;
    border-radius: 5px;
}










.top-first{
    padding:16px 96px 48px 96px;
    background-color:#121417;
    color:#E39E6A;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-display{
    width:100%;
    display: flex;
    gap:12px;
    
}
.first-section{
    display: flex;
    gap:100px;
    padding-top: 48px;
    max-width: 980px;
}

.page-title{
    margin-right: auto;
}
.about-me{
    font-size: 48px;
    font-family: 'Roboto';
    min-width: 260px;
    width: 360px;
}
.description{
    font-size:18px;
}


.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 144px 48px 144px;
    background:#4e5778;
    color:#121417;
    font-size: 36px;
}
.all-projects{
    padding: 48px;
    width: 100%;
    display: flex;
    gap:56px;
    font-size: 18px;
    justify-content: space-between;
}
.proj{
    flex-direction: column;
    align-items: center;
    min-width:100px;
    width: 150px;
    height: auto;
}
.proj img {
    border: 5px solid #69100F;
    flex: 1 1 auto;
    border-radius: 15px;
    width: 100%;
    height:auto;
}